<!DOCTYPE html>
<html>
    <head>
        <title>Fishing Journal</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        
        <link rel="stylesheet" href="//code.jquery.com/ui/1/12/1/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.12.4.js"></script>
        <script src="//code.jquery.com/ui/1/12/1/jquery-ui.js"></script>
        

    </head>
    <body>
        
<% include ./svgs %>

        
        
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">River Journal</a>
            </div>
        </div>    
        
    </nav>
        
