<% include ./partials/header %>

<h2>Mapbox Maps Test Page</h2>

 <div class="thumbnail" id="map" style="width:100%; height:400px; margin: 0 auto"></div>
<script type="text/javascript" src="../js/mapbox-test.js"></script>

<% include ./partials/footer %>