body{
    /* needed for bootstrap scrollspy plugin, which enables sticky-sidebar on river show route */
    position: relative;
}

#weather svg{
    display: block;
    /*width:100px;*/
    /*max-width: 100%;*/
    /*max-height:100px;*/
    /*height: auto;*/
}

.currentWeather{
    font-size: 16px;
    text-align: center;
}

.currentWeather svg{
    margin: 0 auto;
}

.nav .active a{
    color: inherit;
}

.hidden{    
    display: none;
}

#sidebar-sticky{
    height: 25vh;
    position: sticky;
    top: 5%;
}

.thumbnail img{
    width: 100%;
}


.thumbnail{
    padding: 0;
}

.thumbnail .caption-full{
    padding: 9px;
}

.delete-form{
    display: inline;
}

#map{
    height: 400px;
    width: 100%;
}

.section-hide{
    display: none!important;
}

.disabled {
   /*pointer-events: none;*/
   cursor: not-allowed;
}