<% include ../partials/header %>

<div class="container">
    <div class="row">

        <h1 style="text-align: center;">Add a new river</h1>
        
        <div class="thumbnail" id="map" style="width:70%; height:600px; margin: 0 auto"></div>
        <script type="text/javascript" src="../js/mapbox-add.js"></script>


        <div style="width:30%; margin:25px auto">

<!--
Goal: Update so that new entries will be valid for all API calls
Current limitation: restrict to only Mass Rivers [due to trout stocking info]

Ideally: Map view, click on map to select river.
- Auto-gens Name, Location, and finds nearest USGS dada point

--MapBox API:
1) User clicks point on map
    a) If point has a 'waterbody-label' associated with it, auto-fill form with River Name & Lat/Lng
    b) If not, but 'waterbody' in area, zoom in (thus showing more labels). Repeat until 1a satisfied
    c) If no waterbody in area, alert user of error
2) Return name of River and Lat/Lng
3) Stocking reports: Checkbox list of all stocking points associated with that river.
    User selects as many as they want included
4) Town: Auto-fill based on Google geocode
5) USGS Station: Populate list of options, user picks.

Aim to have each field auto-complete

-->
        
    
        <form action="/rivers" method="POST">
            <div class="form-group">
                <input class="form-control" id="river-name" type="text" name="name" placeholder="name">
            </div>
            
            <div class="form-group">
                <input class="form-control" id="river-lat" type="text" name="lat" placeholder="latitude">
            </div>
            
            <div class="form-group">
                <input class="form-control" id="river-lng" type="text" name="lng" placeholder="longitude">
            </div>
            
            <div class="form-group">
                <input class="form-control" id= type="text" name="location" placeholder="location">
            </div>
            
            <div class="form-group">
                <input class="form-control" type="text" name="description" placeholder="description">
            </div>
            
            <div class="form-group">
                <input class="form-control" type="text" name="usgs" value="01175500"><!-- temp placeholder value -->
            </div>
            
            <div class="form-group">
                <button class="btn btn-lg btn-default btn-block btn-primary">Submit</button>
            </div>
            
        </form>

        <a href="/rivers">Back to Rivers Page</a>
    
    </div>
        
</div>
</div>

<% include ../partials/footer %>