<!-- RIVER NEW ROUTE -->

<% include ../partials/header %>


<div class="container">
    <div class="row">
        
        <div class="thumbnail">
            <div class="caption-full">
                <h2 style="text-align: center;">Add a new river</h2>
            </div>
        </div>
        
        <div class="col-md-3" id="sidebar-sticky">
    
            <p class="lead">Add New River</p>

                <form action="/rivers" method="POST">
                    <div class="form-group">
                        <input class="form-control" id="river-name" type="text" name="name" placeholder="name">
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="river-lat" type="text" name="lat" placeholder="latitude">
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="river-lng" type="text" name="lng" placeholder="longitude">
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="river-location" type="text" name="location" placeholder="location">
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="river-usgs" type="text" name="usgs" placeholder="USGS Station ID"><!-- temp placeholder value -->
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-default btn-block btn-primary">Submit</button>
                    </div>
                </form>

        </div> <!-- col-md-3 sidebar-sticky -->
        
        <div class="col-md-9">
        
            <div class="thumbnail" id="map" style="width:100%; height:400px; margin: 0 auto"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8ZXDtI7HJubhgLEg8cwc2_7N2xSAenvg&callback=initMap"
    async defer></script>
    
    <script>
           
    var map;
    
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat:42.4072, lng: -72.0000},
            zoom: 8,
            disableDoubleClickZoom: true,
            mapTypeId: "terrain"
        });
        
        map.data.loadGeoJson('../js/massTroutNew.json');
        map.data.setStyle({
          fillColor: 'blue',
          strokeWeight: 1
        });
        
        var usgsLayer = new google.maps.KmlLayer({
          url: 'https://waterservices.usgs.gov/nwis/site/?format=ge&stateCd=ma&period=P52W&parameterCd=00060&siteStatus=active&hasDataTypeCd=iv,dv',
          map: map
        });
        
        usgsLayer.addListener('click', function(usgsClick) {
            let usgsID = usgsClick.featureData.id;
            updateUsgs(usgsID);
        // console.log(usgsClick);
        });



        map.data.addListener('click', function(event){
            console.log(event);
            console.log(event.feature.getProperty('mdfw_name'));
            let clickInfo = {
                riverName: event.feature.getProperty('mdfw_name'),
                riverLocation: event.feature.getProperty('TOWN'),
                riverLat: event.latLng.lat(),
                riverLng: event.latLng.lng()
            }
            updateForm(clickInfo);

        });

        
        var geocoder = new google.maps.Geocoder;
        
            map.addListener('click', function(e){
                let clickInfo = {
                    riverLat: e.latLng.lat(),
                    riverLng: e.latLng.lng()             
                }

                updateForm(clickInfo);
               
              geocoder.geocode({'location': {lat: e.latLng.lat(), lng: e.latLng.lng()}}, function(results, status) {
                console.log("success");
                console.log(status);
                console.log(results);
              });
            });
    
    function updateUsgs(usgsID){
        document.querySelector("#river-usgs").value = usgsID;
    }


    function updateForm(clickInfo){
        if(clickInfo.riverName){
            document.querySelector("#river-name").value = clickInfo.riverName;            
        } else { document.querySelector("#river-name").value = "" }
        
        if(clickInfo.riverLocation){
            document.querySelector("#river-location").value = clickInfo.riverLocation;
        } else { document.querySelector("#river-location").value = "" }
        
        if(clickInfo.riverLat){
            document.querySelector("#river-lat").value = clickInfo.riverLat;
        } else { document.querySelector("#river-lat").value = "" }

        if(clickInfo.riverLng){
            document.querySelector("#river-lng").value = clickInfo.riverLng;
        } else { document.querySelector("#river-lng").value = "" }
    }
    
    }
    
    </script>

<h2>Interactive River Map</h2>
<p>Please allow up to 5-10 seconds for all data to load (todo: speed up loading).</p>
<p>Black/Blue lines represent trout-stocked waters. Clicking one of these will auto-populate
    the "Add New River" form with the river name, map coordinates, and location.</p>
<p>Triangles represent USGS data stations. Clicking one of these will auto-populate the 
river's USGS ID# in the form.</p>
<p>Clicking elsewhere on the map will auto-populate the form with just the map coordinates.</p>

<hr/>
<ul>
    Future To-do's:
    <li>Speed up loading of trout-stocking data layer. Maybe split out trout stocking & USGS stations into toggle-able layers</li>
    <li>Better map styling</li>
    <li>other stuff...</li>
</ul>


        <a href="/rivers">Back to Rivers Page</a>
    
</div>
</div>

<% include ../partials/footer %>