<!-- RIVER SHOW ROUTE | Single River -->

<% include ../partials/header %>

<div class="container">
    <div class="row">
        
        <% include ../partials/sidebar %>
        
        <div class="col-md-9">
            <% include ../partials/weather %>
            <% include ../partials/usgs %>
            <% include ../partials/stocking %>
            <% include ../partials/journals %>
            <% include ../partials/map %>
        </div> 
    </div>
</div>

<% include ../partials/footer %>